*, * {
	font-family: sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

html, body {
	touch-action: none;
	overflow: hidden;
	overscroll-behavior: none;
}

#start {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
}

h2 {
	margin-bottom: 25px;
	color: #000;
	text-align: center;
	font-family: Inclusive Sans;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
}

#start button {
	background: #000;
	color: #FFF;
	text-align: center;
	font-family: Inclusive Sans;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	margin-bottom: 15px;

}

div.active {
	display: block;
}
div.hidden {
	display: none !important;
}

.player-view {
	display: none;
}

.screen {
	display: none;
	width: 100vw;
	height: 100vh;
	align-items: center;
	flex-direction: row;
	justify-content: space-around;
}

.screen.rows {
	flex-direction: column;
}

.screen.active {
	display: flex;
}

img {
	max-width: 100%;
	position: relative;
}

.image {
	position: relative;
}

.image button {
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border: 2px solid rgb(255, 255, 255, 0.7);
	border: 0;
}

#top-bar {
	width: 100%;
	padding: 5px;
	background: #eee;
	position: absolute;
}

#suitcase-lock-button {
	top: 25%;
	left: 20%;
	height: 10%;
	width: 15%;
}

button.back {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 48px;
	height: 48px;
	background: transparent;
	border: 0;
}

button.back img {
	width: 100%;
	pointer-events: none;
}

.scrollable {
	width: 25%;
	height: 200px;
	overflow: auto;
	scroll-snap-type: y mandatory;
	touch-action: pan-y;
}

.scrollable span {
	scroll-snap-align: start;
	background: transparent url(img/numbers.png);
	display: block;
	width: 100%;
	height: 200px;
	text-indent: -9999px;
}

.scrollable span:nth-of-type(2) {background-position-y: calc(280px *-1); }
.scrollable span:nth-of-type(3) {background-position-y: calc(280px *-2); }
.scrollable span:nth-of-type(4) {background-position-y: calc(280px *-3); }
.scrollable span:nth-of-type(5) {background-position-y: calc(280px *-4); }
.scrollable span:nth-of-type(6) {background-position-y: calc(280px *-5); }
.scrollable span:nth-of-type(7) {background-position-y: calc(280px *-6); }
.scrollable span:nth-of-type(8) {background-position-y: calc(280px *-7); }
.scrollable span:nth-of-type(9) {background-position-y: calc(280px *-8); }
.scrollable span:nth-of-type(10) {background-position-y: calc(280px *-9); }


#suitcase-lock {
	background: #926C50 url(img/suitcase-lock.png) no-repeat center center;
}