*, * {
	font-family: sans-serif;
	text-align: center;
	margin: 0;
	padding: 0;
}

@font-face {
    font-family: 'Inclusive Sans';
    src: url('etc/InclusiveSans-Regular.ttf');
}

body.debug button {
	outline: 1px solid red;
}


html, body {
	touch-action: none;
	overflow: hidden;
	overscroll-behavior: none;
}

#debug {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100vw;
	background: rgba(0, 0, 0, 0.5);
	color: #fff;
	padding: 0 6px;
	font-size: 12px;
	text-align: right;
}

#start {
	display: flex;
	align-items: center;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	justify-content: center;
}

h2 {
	margin-bottom: 35px;
	color: #000;
	text-align: center;
	font-family: Inclusive Sans;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	padding: 0 25px;
}

#start-buttons {
	margin-top: 150px;
}

#start button {
	background: #000;
	color: #FFF;
	text-align: center;
	font-family: Inclusive Sans;
	font-size: 32px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: uppercase;
	margin: 15px auto;
	padding: 10px 20px;
	display: block;
	width: 100%;
}

#start button.secondary {
	padding: 10px 10px;
	font-size: 16px;
}

div.active {
	display: block;
}
div.hidden {
	display: none !important;
}

.player-view {
	display: none;
}

.screen {
	display: none;
	width: 100vw;
	height: 100vh;
	align-items: center;
	flex-direction: row;
	justify-content: center;
}

.screen.rows {
	flex-direction: column;
}

.screen.active {
	display: flex;
}

img {
	max-width: 100%;
	position: relative;
}

button {
	background: transparent;
	border: 0;
}

.image {
	position: relative;
	width: 100%;
	min-height: 25%;
}

.image img {
}

.image button {
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: transparent;
	border: 0px solid red;
	width: 48px;
	height: 48px;
}

#top-bar {
	width: 100%;
	padding: 5px;
	background: #eee;
	position: absolute;
}

button.back {
	position: absolute;
	top: 5%;
	left: 5%;
	width: 48px;
	height: 48px;
	background: transparent;
	border: 0;
}

button img {
	width: 100%;
	pointer-events: none;
}

.scrollable {
	width: 100px;
	height: 200px;
	overflow: auto;
	scroll-snap-type: y mandatory;
	touch-action: pan-y;
}

.scrollable::-webkit-scrollbar {
    display: none;
}

.scrollable span {
	scroll-snap-align: start;
	background: transparent url(img/numbers.png);
	display: block;
	width: 100px;
	height: 200px;
	text-indent: -9999px;
}

.scrollable span:nth-of-type(2) {background-position-y: calc(280px *-1); }
.scrollable span:nth-of-type(3) {background-position-y: calc(280px *-2); }
.scrollable span:nth-of-type(4) {background-position-y: calc(280px *-3); }
.scrollable span:nth-of-type(5) {background-position-y: calc(280px *-4); }
.scrollable span:nth-of-type(6) {background-position-y: calc(280px *-5); }
.scrollable span:nth-of-type(7) {background-position-y: calc(280px *-6); }
.scrollable span:nth-of-type(8) {background-position-y: calc(280px *-7); }
.scrollable span:nth-of-type(9) {background-position-y: calc(280px *-8); }
.scrollable span:nth-of-type(10) {background-position-y: calc(280px *-9); }

#suitcase-lock-button {
	top: 25%;
	left: 20%;
	height: 10%;
	width: 15%;
}

#suitcase-card-button { 
    top: 65%;
    left: 32%;
    height: 20%;
    width: 25%;
}

#suitcase-sticker-button { 
    top: 25%;
    left: 62%;
    height: 20%;
    width: 25%;
}

#suitcase-logo-button { 
    top: 48%;
    left: 62%;
    height: 20%;
    width: 25%;
}

#suitcase-tag-button { 
	top: 40%;
	left: 27%;
	height: 20%;
	width: 25%;
}

#suitcase-lock {
	background: #926C50 url(img/suitcase-lock.png) no-repeat center center;
	background-size: contain;
}

#battery-button {
	top: 22%;
	left: 33%;
	height: 30%;
	width: 15%;
}

#battery-button.passing {
	pointer-events: none;
	background: red;
}

#music-box-button {
	top: 43%;
	left: 66%;
	height: 30%;
	width: 15%;
}

#photo-book-button {
	top: 23%;
	left: 17%;
	height: 30%;
	width: 15%;
}

#photo-right-button {
	top: 23%;
	left: 25%;
	height: 30%;
	width: 15%;
}

#radio-button {
	top: 25%;
	left: 25%;
	width:22%;
	height: 14%;
}

#letter-button {
	top: 45%;
	left: 32%;
	width:22%;
	height: 14%;
}

#photo-left-button {
	top: 65%;
	left: 52%;
	width:22%;
	height: 14%;
}

#suitcase-compartment-button {
	top: 85%;
	left: 12%;
	width:22%;
	height: 14%;
}

#suitcase-left, #suitcase-right {
	background: #926C50;
}

#suitcase-left img, #suitcase-right img {
	height: 100vh;
}